menu "AES Configuration"

	config AES_CFB128
		bool "Using AES_CFB128 encryption"
		default false
		help
			Using AES_CFB128 encryption.

	config AES_CBC
		bool "Using AES_CBC encryption"
		default false
		help
			Using AES_CBC encryption.

	config AES_ECB
		bool "Using AES_ECB encryption"
		default false
		help
			Using AES_ECB encryption.

endmenu
